.authorDiv {
  text-align: center;
  padding: 1rem;

}
.authorDiv div {
  margin-bottom: 1rem;

}
.authorIntroduction {
  position: relative;
  font-size:.8rem;
  color: #999;
}
.authorName {
  font-size: 19px;
  color: pink;
  font-weight: 600;
}
@keyframes bounce {
  0%, 100%, 20%, 50%, 80%{
    transform:translateY(0);
  }
  40%{
    transform:translateY(-15px);
  }
  60%{
    transform:translateY(-10px);
  }
}
.authorSign {
  animation: bounce 2s infinite;
}
.account {
  background-color: pink;
  margin-left: .5rem;
  margin-right: .5rem;
}
.authorQq {
  position: absolute;
  top: -5px;
  left: 26%;
}
.authorWechat {
  position: absolute;
  top: -5px;
  left: 50%;
}