.authorDiv {
  text-align: center;
  padding: 1rem;

}
.authorDiv div {
  margin-bottom: 1rem;

}
.authorIntroduction {
  font-size:.8rem;
  color: #999;
}
.authorName {
  font-size: 19px;
  color: pink;
  font-weight: 600;
}
@keyframes smoky {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    transform:
      translate3d(15rem,-8rem,0)
      rotate(-40deg)
      skewX(70deg)
      scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}
.authorSign {
  animation: smoky 3s infinite;
}
.account {
  background-color: pink;
  margin-left: .5rem;
  margin-right: .5rem;
}